.link-note-sticky-regular {
  background: rgb(53,143,118)
}

.link-box-open-solid {
    background: rgb(237,149,153)
  }
  
.link-music-solid {
    background: rgb(67, 175, 200)
  }

.link-user-tie-solid {
    background: rgb(51, 114, 222)
  }